* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root {
    --color-primary: #0D28A6;
    --color-success: #5CB85F;
    --color-warning: #f7c94b;
    --color-danger: #f75842;
    --color-white: #fff;
    --color-black: #000;
    --color-bg1: #fff;
    --color-bg2: #F1F3FF;
    --color-bg3: #0D28A6;

    --transition: all 400ms ease-in-out;

    --container-width-md: 90%;
    --container-width-sm: 94%;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
    color: var(--color-black);
    background: var(--color-bg1);
}

h1, h2, h3, h4, h5 {
    line-height: 1.2;
}

h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.3rem;
}

a {
    color: var(--color-black);
}

.btn {
    display: inline-block;
    background: var(--color-white);
    color: var(--color-black);
    padding: 1rem 2rem;
    border: 1px solid transparent;
    font-weight: 500;
    transition: var(--transition);
}

.btn:hover {
    background: transparent;
    color: var(--color-white);
    border-color: var(--color-success);
}

.btn-primary {
    background: var(--color-success);
    color: var(--color-white);
} /*belom kepake*/

/*=========== NAVBAR ==========*/
nav {
    width: 100%;
    height: 5rem;
    position: fixed;
    top: 0;
    z-index: 11;
}

.nav__container {
    background: var(--color-bg2);
    height: 100%;
    width: 100%;
    padding: 2rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav button {
    display: none;
}

.nav__menu {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.nav__menu a {
    font-size: 0.9rem;
    transition: var(--transition);
}

.nav__menu a:hover {
    color: var(--color-success);
}

/*========== HEADER ==========*/
header {
    background: var(--color-bg2);
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

.header__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 4rem;
}

.header__left {
    padding-top: 16rem;
    margin: 4rem;
}

.header__left h2 {
    text-align: justify;
}

.header__left p {
    margin: 1.5rem 0 2rem;
    text-align: justify;
}

.header__left a {
    font-size: 0.9rem;
    transition: var(--transition);
}

.header__left a:hover {
    color: var(--color-success);
}

.header__right {
    padding-top: 25rem;
}

/*========== SERVICES ==========*/
.services {
    background: var(--color-bg1);
    padding-top: 4rem;
    position: relative;
    overflow: hidden;
    height: 80vh;
}

.services__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 2rem;
    padding-top: 4rem;
    margin: 2rem 2rem;
}

.services__right p {
    text-align: justify;
    margin: 1.5rem 0 1rem;
}

.services__right img {
    margin-right: 1rem;
}

.services__right img, li {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 0.3rem;
}

/*========== WHY US ==========*/
.whyus {
    background: var(--color-bg1);
    position: relative;
    padding-top: 4rem;
    height: 80%;
    margin: 2rem 4rem;
}

.whyus p {
    margin: 1rem 0 1.5rem;
}

.whyus__card h4 {
    margin: 1.5rem 0 1rem;
}

.whyus__card p {
    font-size: 0.85rem;
}

.whyus__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.whyus__card {
    background: var(--color-bg1);
    padding: 2rem;
    border: 1px solid;
    border-radius: 0.5rem;
    border-width: 0.1rem;
    border-color: #afafaf;
    transition: var(--transition);
}

.whyus__card:hover {
    box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.whyus__icon {
    background: var(--color-warning);
    border-radius: 1rem;
    padding: 0.7rem;
}

/*========== TESTIMONIAL ==========*/

.testimonials {
    background: var(--color-bg1);
    padding-top: 4rem;
    margin: 0 4rem;
}

.testimonials p {
    margin: 1.5rem 0 2rem;
    text-align: center;
}

.testimonials h2 {
    text-align: center;
} 

.avatar img {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 1rem;
    border: 0.5rem solid var(--color-bg1);
}

.avatar {
    display: flex;
    align-items: center;
}

.mySwiper {
    border: 0.5px solid var(--color-black);
    border-radius: 0.5rem;
}

.slide__content {
    padding: 2rem 4rem;
}

.slide__content h5 {
    text-align: center;
}

/*========== BANNER ==========*/
.banner {
    background: var(--color-bg1);
    padding-top: 4rem;
    position: relative;
    overflow: hidden;
}

.banner__container {
    background: var(--color-bg3);
    color: var(--color-white);
    border-radius: 1rem;
    padding: 4rem;
    margin: 4rem;
    align-items: center;
    text-align: center;
}

.banner__container p {
    margin: 2rem 0 3.5rem;
}

/*========== FAQs ==========*/
.faqs__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 4rem;
    margin: 4rem;
    gap: 2rem;
}

.faqs__left p {
    margin: 1rem 0 0;
}

.faqs__right {
    display: grid;
    grid-template-columns: repeat(5);
    gap: 1rem;
}

.faq {
    display: flex;
    padding: 1rem;
    align-items: center;
    border: 1px solid;
    border-radius: 0.5rem;
    border-width: 0.1rem;
    border-color: #afafaf;
    gap: 1rem;
    justify-content: space-between;
}

.faq__icon {
    font-size: 2rem;
}

/*========== FOOTER ==========*/
footer {
    background: var(--color-bg1);
    margin: 4rem;
    padding-top: 4rem;
}

.footer__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
    justify-content: center;
}

.footer__container > div p {
    margin-bottom: 1rem;
}

.footer__3 ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.footer__1 a:hover {
    color: var(--color-success);
    transition: var(--transition);
}

.footer__2 {
    display: grid;
    gap: 0.9rem;
}

.footer__2 a:hover {
    color: var(--color-success);
    transition: var(--transition);
}

/*========== MEDIA QUERRIES - TABLETS ==========*/
@media screen and (max-width: 768px) {
    body {
        width: 100%;
        border: 0;
        margin: 0;
        justify-content: center;
        /* background: red; */
    }

    h2 {
        font-size: 1.5rem;
    }

    p {
        font-size: 0.9rem;
    }

    /*========== NAVBAR ==========*/
    nav button {
        display: inline-block;
        background: transparent;
        font-size: 1.8rem;
        color: var(--color-black);
        cursor: pointer;
    }

    nav button#close-menu-btn {
        display: none;
    }

    .nav__menu {
        position: fixed;
        top: 5rem;
        right: 5%;
        height: fit-content;
        width: 18rem;
        flex-direction: column;
        gap: 0rem;
        display: none;
    }

    .nav__menu li {
        width: 100%;
        height: 5.8rem;
    }

    .nav__menu li a {
        background: var(--color-white);
        box-shadow: -4rem 6rem 10rem rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center;
        color: var(--color-black);
    }

    .nav__menu li a:hover {
        background: var(--color-bg2);
        color: var(--color-black);
        border-color: var(--color-bg2);
    }

    /*========== HEADER ==========*/
    header {
        height: 70vh;
        width: 150vw;
    }

    .header__right {
        padding-top: 15rem;
    }

    .header__right img {
        width: 100%;
        height: 100%;
    }

    .header__left {
        padding-top: 2rem;
    }

    /*========== SERVICES ==========*/
    .services {
        border: 0;
        height: 90vh;
        width: 150vw;
    }

    .services__container {
        padding-top: 0rem;
        gap: 3.5rem;
    }

    /* ========== WHY US ========== */
    .whyus {
        border: 0;
        width: 133vw;
        margin: 4rem;
    }

    /* ========== TESTIMONIALS ========== */
    .testimonials {
        border: 0;
        width: 133vw;
        margin: 4rem;
    }

    /* ========== BANNER ========== */
    .banner {
        border: 0;
        width: 133vw;
        margin: 4rem;
    }

    .banner__container {
        margin: 0;
    }

    /* ========== FAQS ========== */
    .faqs {
        border: 0;
        width: 133vw;
        margin: 4rem;
        background-color: var(--color-bg1);
    }

    .faqs__container {
        margin: 0;
    }

    /* ========== FOOTER ========== */
    footer {
        border: 0;
        width: 133vw;
        margin: 4rem;
    }
}

/*========== MEDIA QUERRIES - MOBILE LARGE ==========*/
@media screen and (max-width: 425px) {
    body {
        /* background: red; */
        border: 0;
        margin: 0;
        width: var(--container-width-sm);
    }

    /* ========== NAVBAR ========== */
    .nav__container h4 {
        font-size: 2rem;
    }

    nav button {
        display: inline-block;
        background: transparent;
        font-size: 2.5rem;
        color: var(--color-black);
        cursor: pointer;
    }

    /* ========== HEADER ========== */
    header {
        height: 90vh;
        width: 200vw;
    }

    header p {
        font-size: 1.2rem;
    }

    /* ========== SERVICES ========== */
    .services {
        border: 0;
        height: 100vh;
        width: 200vw;
    }

    .services__left-image img {
        width: 80%;
        height: 80%;
    }

    /* ========== WHY US ========== */
    .whyus {
        border: 0;
        height: 100vh;
        width: 150vw;
    }

    /* ========== TESTIMONIALS ========== */
    .testimonials {
        border: 0;
        height: 80vh;
        width: 170vw;
        margin: 0 4rem;
    }

    /* ========== BANNER ========== */
    .banner {
        border: 0;
        height: 80vh;
        width: 170vw;
        margin: 0 4rem;
    }

    .banner__container {
        margin: 0;
    }

    /* ========== FAQS ========== */
    .faqs {
        border: 0;
        height: 110vh;
        width: 170vw;
        margin: 0 4rem;
    }
    
    /* ========== FOOTER ========== */
    footer {
        border: 0;
        width: 170vw;
        margin: 0 4rem;
    }
}

/* ========== MEDIA QUERRIES - MOBILE SMALL ========== */
@media screen and (max-width: 320px) {
    body {
        margin: 0;
        border: 0;
        /* background-color: red; */
    }

    /* ========== NAVBAR ========== */
    .nav__menu h4 {
        font-size: 3.3rem;
    }

    nav button {
        display: inline-block;
        background: transparent;
        font-size: 3rem;
        color: var(--color-black);
        cursor: pointer;
    }

    /* ========== HEADER ========== */
    header {
        height: 120vh;
        width: 260vw;
    }

    .header__container {
        display: block;
    }

    .header__left {
        padding-top: 4rem;
    }

    .header__right {
        padding-top: 1rem;
        padding-left: 20rem;
    }

    .header__right-image img {
        width: 100%;
        height: 100%;
    }

    .header__left h2 {
        font-size: 2rem;
    }

    .header__left p {
        font-size: 1.7rem;
    }

    /* ========== SERVICES ========== */
    .services {
        height: 160vh;
        width: 260vw;
        padding: 2rem;
    }

    .services__container {
        display: block;
    }

    .services__left-image img {
        width: 70%;
        height: 70%;
    }

    .services__left {
        padding-left: 10rem;
        padding-bottom: 4rem;
    }

    .services__right p {
        font-size: 1.7rem;
        text-align: justify;
    }

    .services__right h3 {
        font-size: 2rem;
        text-align: center;
    }

    .services__right ul, li {
        font-size: 1.5rem;
    }

    /* ========== WHY US ========== */
    .whyus {
        height: 170vh;
        width: 220vw;
    }

    .whyus__container {
        display: block;
    }

    .whyus__card {
        margin-top: 2rem;
    }

    .whyus__card h4, p {
        text-align: center;
        font-size: 1.7rem;
    }

    .whyus p {
        font-size: 1.7rem;
    }

    .whyus h3 {
        font-size: 2rem;
        text-align: center;
    }

    /* ========== TESTIMONIALS ========== */
    .testimonials {
        height: 110vh;
        width: 220vw;
        margin-top: 20rem;
        margin-bottom: 4rem;
    }

    .testimonials h2 {
        font-size: 2rem;
    }

    .testimonial__body h5 {
        font-size: 1.2rem;
    }

    .avatar img {
        width: 30%;
        height: 30%;
    }

    /* ========== BANNER ========== */
    .banner {
        height: 80vh;
        width: 220vw;
    }

    .banner__container {
        /* padding: 0; */
        margin: 0;
    }

    .banner h2 {
        font-size: 2rem;
    }

    /* ========== FAQS ========== */
    .faqs {
        height: 110vh;
        width: 220vw;
        margin-top: 4rem;
        margin-bottom: 4rem;
    }

    .faqs__container {
        margin: 0;
    }

    .faqs__left p {
        text-align: left;
    }

    .faqs__left h2 {
        font-size: 2rem;
    }

    /* ========== FOOTER ========== */
    footer {
        display: none;
    }
}