* {
    text-decoration: none;
    list-style: none;
}

:root {
    --color-primary: #0D28A6;
    --color-success: #5CB85F;
    --color-warning: #f7c94b;
    --color-danger: #f75842;
    --color-white: #fff;
    --color-black: #000;
    --color-bg1: #fff;
    --color-bg2: #F1F3FF;
    --color-bg3: #0D28A6;

    --transition: 400ms all ease;
}

a {
    color: var(--color-black);
}

.btn-primary {
    background-color: var(--color-success);
    border-color: var(--color-success);
    color: var(--color-white);
    border-radius: 0.4rem;
}

.btn-primary:hover {
    background-color: transparent;
    border-color: var(--color-success);
    color: var(--color-success);
}

/* ========== NAVBAR ========== */
nav.navbar {
    background-color: var(--color-bg2);
}

/* ========== HEADER ========== */
header {
    background-color: var(--color-bg2);
    padding-top: 12rem;
    height: 100vh;
}

.header__left {
    padding-top: 4rem;
}

/* ========== WHY US =========== */
.card-title {
    margin: 1rem 0 1rem;
}

/* ========== TESTIMONIALS ========== */
swiper-container {
    width: 100%;
    height: 100%;
}

swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* .img-card {

} */

/* ========== BANNER ========== */
.blockquote p {
    margin: 3rem 0 4.5rem;
}

#bannerCard {
    background-color: var(--color-bg3);
    color: var(--color-white);
    border-radius: 1.5rem;
}

/* ========== FAQs ========= */
.accordion-item button {
    font-size: 1.3rem;
}

/* ========== FOOTER ========== */
.footer__1 a {
    text-decoration: none;
}

.footer__3 ul {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding-left: 0rem;
}

.footer__2 a {
    display: grid;
    flex-direction: column;
    padding-bottom: 0.85rem;
    padding-left: 4rem;
    text-decoration: none;
}

/* ========== MEDIA QUERRIES ========== */
@media (max-width: 768px) {
    nav {
        position: fixed;
    }

    header {
        height: auto;
        width: auto;
    }

    .services h3 {
        margin-top: 2rem;
    }
}

@media (max-width: 425px) {
    * {
        margin: 0;
        padding: 0;
    }

    nav {
        position: fixed;
    }

    header {
        width: 100%;
    }
}